@media print {
  @page {
    size: A4 portrait; 
  }
  @page :left {
    margin-left: 0cm;
    margin-right: 0cm;
  }
  #media-print {
    width: 650px;
    height: 57px;
    
    padding: 3px;
    position: absolute;
    bottom: 85px;
    left: 32px;
   
    background-color: #000;
    border: 1px;

    
    }
    #media-print > p {
      font-family: Arial;
      font-weight: bold;
      word-break:normal;
      text-align: justify;
      font-size: 10pt;
      
    }
}
